.row {
    display: flex;
    padding: 8px;
  }

.tabela img {
    margin-top: 8px;
    width: 100%;
  }
img{
    width: 900px;
    height: 300px;
}
body {
    background-color:burlywood ;
}