.row {
    display: flex;
    padding: 0 4px;
  }
.tabela{
    flex: 25%;
    max-width: 25%;
    padding: 4px;
  }
.tabela img {
    margin-top: 8px;
    vertical-align: middle;
    width: 100%;
  }
img{
    width: 900px;
    height: 300px;
}